<ul class="sidebar-nav">
  <li><a href="/">Home</a></li>
  <li><a href="/medications/conditions">All conditions</a></li>
</ul>
<hr />
<ul class="sidebar-nav">
  <li><a href="/catalog">Home</a></li>
  <li><a href="/catalog">Home</a></li>
</ul>
