<ul class="sidebar-nav">
  <li><a href="/">Home</a></li>
  <li><a href="/medications/conditions">All conditions</a></li>
  <li><a href="/medications/doses">All doses</a></li>
  <li><a href="/medications/regimens">All regimens</a></li>
  <li><a href="/medications/patients">All patients</a></li>
  <li><a href="/medications/medications">All medications</a></li>
  <li><a href="/medications/prescriptions">All prescriptions</a></li>
</ul>
<hr />
<ul class="sidebar-nav">
  <li><a href="/medications/condition/create">Create condition</a></li>
  <li><a href="/medications/medication/create">Create medication</a></li>
  <li><a href="/medications/regimen/create">Create regimen</a></li>
  <li><a href="/medications/dose/create">Create dose</a></li>
  <li><a href="/medications/patient/create">Create patient</a></li>
  <li><a href="/medications/prescription/create">Create prescription</a></li>
</ul>
