<ul class="sidebar-nav">
  <li><a href="/">Home</a></li>
  <li><a href="/medications/conditions">All conditions</a></li>
  <li><a href="/medications/regimens">All regimens</a></li>
  <li><a href="/medications/patients">All patients</a></li>
  <li><a href="/medications/medications">All medications</a></li>
  <li><a href="/medications/prescriptions">All prescriptions</a></li>
</ul>
<hr />
<ul class="sidebar-nav">
  <li><a href="/catalog">Home</a></li>
  <li><a href="/catalog">Home</a></li>
</ul>
