<h1><%= title %></h1>

<% if (medication_list.length) { %>
<ul>
  <% for (let i=0; i < medication_list.length; i++) { %>
  <li>
    <a href="<%=medication_list[i].url%>"
      ><%= medication_list[i].name_and_dose %>
    </a>
    <% let quantityText = " (" + medication_list[i].quantity + " held)" %> <%=
    quantityText %>
  </li>
  <% } %>
</ul>
<% } else { %>
<p>There are no medications as yet.</p>
<% } %>
