<h1><%= title %></h1>

<% if (medication_list.length) { %>
<ul>
  <% for (let i=0; i < medication_list.length; i++) { %>
  <li>
    <a href="<%=medication_list[i].url%>"><%= medication_list[i].name %> </a>
  </li>
  <% } %>
</ul>
<% } else { %>
<p>There are no medications as yet.</p>
<% } %>
